.Testimonials-Text
{
	font-family: open-sans-i4, sans-serif;
}

.Banner-Text,.Testimonials-info,.Features-Text
{
	font-family: open-sans-n4, sans-serif;
}

.Overview-Text
{
	font-family: arimo-n4, sans-serif;
}

.Overview-List
{
	font-family: arimo-n7, sans-serif;
}

.Heading-H1,.Heading-H2-Black,.Subheading-Black,.Subheading-White,.Heading-H2-White,.Mobile-H2-Black,.Mobile-Heading-Text
{
	font-family: open-sans-n3, sans-serif;
}

.Testimonials-Heading,.Footer-Contact,.Features-Heading,.Overview-Bold,.H1
{
	font-family: open-sans-n7, sans-serif;
}

.H2-black
{
	font-family: open-sans-n8, sans-serif;
}

#u9234-6
{
	font-family: open-sans-n7, sans-serif;
}

#u9241-6
{
	font-family: open-sans-n7, sans-serif;
}

#u14009-6
{
	font-family: open-sans-n7, sans-serif;
}

#u14021-4
{
	font-family: open-sans-n7, sans-serif;
}

#u900-5
{
	font-family: open-sans-n7, sans-serif;
}

#u12783-4,#u950-2,#u952-2,#u6005-4
{
	font-family: open-sans-n4, sans-serif;
}

#u7293-20,#u5979-4,#u5978-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5977-4
{
	font-family: open-sans-n4, sans-serif;
}

